*~
.DS_Store
.netrwhist
vim/.netrwhist
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/history
vim/bundle/**
!vim/bundle/Vundle.vim
bin/src/**
wallpaper/*nasa_pod.jpg
fish/fishd.*
fish/fish_history
fish/fish_read_history
getnetrcc
newsbeuter/cache.db
newsbeuter/cache.db.lock
newsbeuter/history.cmdline
newsbeuter/history.search

# ignored because symlink may change
xmobarrc

# Emacs things
\#*\#
.\#*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.egg-info/
*.egg

# Blog things
# ---
# Ignore the generated ikiwiki hook
ikiwiki/ikiwiki-hooks/post-update.d/01-post-update
ikiwiki/.s3cmd.HEAD

# photo things
# ---
# Ignore where I download all the nasa files
# also ignore my screenshots
srv/photos/nasa/*
srv/photos/screenshots/*

# IkiWiki things
# ---
ikiwiki/TylerCipriani.setup

# why? I don't know.
# ---
bin/youtube-dl

# Gerriiiiiitttt
# ---
bin/bazel
bin/Patchwork*
bin/patchwork*
bin/eclipse
bin/helm
