*~
.DS_Store
.netrwhist
vim/.netrwhist
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/history
vim/bundle/**
!vim/bundle/Vundle.vim
bin/src/**
wallpaper/*nasa_pod.jpg
fish/fishd.*
fish/fish_history
