{
    "version": "https://jsonfeed.org/version/1",
    "title": "<TMPL_VAR WIKINAME>: <TMPL_VAR TITLE>",
    "home_page_url": "<TMPL_VAR PAGEURL>",
    "feed_url": "<TMPL_VAR FEEDURL>",
    "items": [
        <TMPL_VAR CONTENT>
    ]
}
