#contact h2 { display: none; }
#contact img {
    margin: 0 1em 1em -1em;
    float: left;
}

#software {
    clear: both;
}

#contact ul {
    float: left;
    list-style: none;
}

dt { font-weight: 700; }
dt img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.25em 0 0;
}

table { margin: 0.5em auto 1em; }
thead { display: none; }
td { padding: 0.25em 0.5em;

@media (max-width: 32em) {
    #contact img {
        float: none;
        border-radius: unset;
        margin: 0 auto;
    }
}

/* Print Styles {{{
 * ================================================== */
@media print {
  .header { margin: 0 !important; }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  *:before,
  *:after {
    display: none !important;
  }

  body {
    font-size: 11pt !important;
    line-height: 1.5em !important;
  }

  @page { margin: 0.5cm; }

  a[href]:after { content: " (" attr(href) ")" !important; }
  a[href^='javascript:']:after,
  a[href^='#']:after { content: ''; }

  header,
  footer,
  blockquote figure,
  .title,
  #writing,
  #software {
    display: none;
  }

  .pageheader .header .parentlinks { font-size: 0 }
  .pageheader .header .parentlinks a { font-size: 18pt !important; }

  h2,
  section,
  blockquote {
    background: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  p,
  h2 {
    orphans: 3;
    widows: 3;
  }

  h2 { page-break-after: avoid; }
}
/* }}} */
