# Run OfflineIMAP on schedule
#
# Managed by puppet
# ripped off from http://babushk.in/posts/offlineimap-systemd.html

[Unit]
Description=OfflineIMAP Quicksync timer

[Timer]
OnCalendar=*:*:0/30
Unit=offlineimap.service

[Install]
WantedBy=default.target
